#eventsPage{
  background-image: url('../../assests/bg/outlets.png');
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,17rem);
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
