.home {
  background-image: url("https://i.ibb.co/ggQsbSJ/Under-Construction.jpg");
  height: fit-content;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
