.footer{
    padding: 20px 0;
    overflow-x: hidden;
    background-image: url('../../assests/bg/food.png');
}
.fa a{
    text-decoration: none;
    color: white;
}
.fa a:hover{
    color: white;
    cursor: pointer;
}
.fh-logo{
    width: 35px;
}