#home-banner{
    background-image: url('https://www.pasilda.com/ux/img/h/fa-globe.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0, 78, 138);
    
}